# Setup

In [1]:
import pandas as pd

# Creating restricted_wcc dataset (only courses from WCC, no summer, keep only row from last five years or from a student with a course in the last five years)

In [2]:
WCC_PATH = "../data/weakly_connected_enrollments.fthr"

In [3]:
wcc_df = pd.read_feather(WCC_PATH)
wcc_df.columns

Index(['acad_career', 'strm', 'class_nbr', 'stdnt_enrl_status', 'unt_taken',
       'unt_prgrss', 'grading_basis_dt', 'unt_billing', 'grading_scheme_enr',
       'crse_grade_off', 'crse_grade_input', 'earn_credit', 'oprid',
       'last_upd_dt_stmp', 'last_upd_tm_stmp', 'emplid', 'subject',
       'ssr_component', 'catalog_nbr', 'crse_acad_group', 'crse_acad_org',
       'crse_id', 'effdt', 'major1', 'major2', 'major3', 'major4', 'major5',
       'major6', 'major7', 'sex', 'course_name', 'gpa', 'grade_points',
       'total_units', 'cum_grade_points', 'cum_units', 'overall_gpa',
       'prior_term_gpa'],
      dtype='object')

In [4]:
wcc_df

,acad_career,strm,class_nbr,stdnt_enrl_status,unt_taken,unt_prgrss,grading_basis_dt,unt_billing,grading_scheme_enr,crse_grade_off,...,major7,sex,course_name,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa
0,UG,1182.0,9732.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,M,MATH 51,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
1,UG,1182.0,16452.0,E,0.0,0.0,2017-09-21,0.0,REG,None,...,None,M,CHEM 31X,NaN,72.0,18.0,72.0,18.0,4.000000,NaN
2,UG,1182.0,16900.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,M,CHEM 31X,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
3,UG,1182.0,30045.0,E,0.0,0.0,2017-09-21,0.0,REG,None,...,None,M,MATH 51,NaN,72.0,18.0,72.0,18.0,4.000000,NaN
4,UG,1184.0,3569.0,E,5.0,5.0,2017-10-29,5.0,REG,A,...,None,M,CS 106X,4.0,65.1,17.0,137.1,35.0,3.917143,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,9902.0,E,5.0,5.0,2019-12-16,5.0,REG,None,...,None,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784354,UG,1204.0,13748.0,E,0.0,0.0,2019-12-16,0.0,REG,None,...,None,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784355,UG,1198.0,14272.0,E,5.0,5.0,2019-06-22,5.0,REG,CR,...,None,F,CS 106B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784356,UG,1198.0,15168.0,E,3.0,3.0,2019-04-17,3.0,REG,CR,...,None,F,CS 193C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784357,UG,1198.0,15207.0,E,3.0,3.0,2019-07-08,3.0,REG,B,...,None,F,MS&E 260,3.0,18.9,6.0,18.9,6.0,3.150000,NaN

In [5]:
# major data is sparse because it's declared major at the time of taking that class only

wcc_df[["major1", "major2", "major3", "major4", "major5", "major6", "major7"]]

       major1   major2 major3 major4 major5 major6 major7
0        None     None   None   None   None   None   None
1        None     None   None   None   None   None   None
2        None     None   None   None   None   None   None
3        None     None   None   None   None   None   None
4        None     None   None   None   None   None   None
...       ...      ...    ...    ...    ...    ...    ...
784353   None     None   None   None   None   None   None
784354   None     None   None   None   None   None   None
784355   None     None   None   None   None   None   None
784356   None     None   None   None   None   None   None
784357  GR-SV  UGNM-SV   None   None   None   None   None

[784358 rows x 7 columns]

In [6]:
# we could potentially run into problems with cross listed courses
print(wcc_df["course_name"].value_counts()["LINGUIST 188"])
print(wcc_df["course_name"].value_counts()["LINGUIST 288"])
print(wcc_df["course_name"].value_counts()["CS 224U"])

2
9
484

In [7]:
# drop the weird empty duplicate rows
wcc_df.drop(wcc_df[wcc_df["unt_taken"] == 0].index, inplace=True)
wcc_df

,acad_career,strm,class_nbr,stdnt_enrl_status,unt_taken,unt_prgrss,grading_basis_dt,unt_billing,grading_scheme_enr,crse_grade_off,...,major7,sex,course_name,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa
0,UG,1182.0,9732.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,M,MATH 51,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
2,UG,1182.0,16900.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,M,CHEM 31X,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
4,UG,1184.0,3569.0,E,5.0,5.0,2017-10-29,5.0,REG,A,...,None,M,CS 106X,4.0,65.1,17.0,137.1,35.0,3.917143,4.0
5,UG,1184.0,10169.0,E,5.0,5.0,2018-01-08,5.0,REG,B+,...,None,M,CHEM 33,3.3,65.1,17.0,137.1,35.0,3.917143,4.0
7,UG,1184.0,31821.0,E,5.0,5.0,2017-11-14,5.0,REG,A,...,None,M,PHIL 1,4.0,65.1,17.0,137.1,35.0,3.917143,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784352,UG,1204.0,9459.0,E,5.0,5.0,2019-10-27,5.0,REG,None,...,None,F,PSYCH 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784353,UG,1204.0,9902.0,E,5.0,5.0,2019-12-16,5.0,REG,None,...,None,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784355,UG,1198.0,14272.0,E,5.0,5.0,2019-06-22,5.0,REG,CR,...,None,F,CS 106B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784356,UG,1198.0,15168.0,E,3.0,3.0,2019-04-17,3.0,REG,CR,...,None,F,CS 193C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784357,UG,1198.0,15207.0,E,3.0,3.0,2019-07-08,3.0,REG,B,...,None,F,MS&E 260,3.0,18.9,6.0,18.9,6.0,3.150000,NaN

In [8]:
# removing some unneeded columns and creating no-space "course_name" column
wcc_df = wcc_df.drop(['ssr_component', 'crse_acad_group', 'crse_grade_off', 'last_upd_dt_stmp',
                                'last_upd_tm_stmp', 'class_nbr',
                                'grading_basis_dt', 'effdt', 'unt_prgrss',
                                'grading_scheme_enr', 'crse_id',
                                'major1', 'major2', 'major3', 'major4', 'major5', 'major6', 'major7', 'oprid', 'course_name'], axis=1)
wcc_df["course_name"] = wcc_df["subject"] + wcc_df["catalog_nbr"]
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
5,UG,1184.0,E,5.0,5.0,B+,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,33,CHEMISTRY,M,3.3,65.1,17.0,137.1,35.0,3.917143,4.0,CHEM33
7,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,PHIL,1,PHILOSOPHY,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,PHIL1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784352,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,PSYCH,1,PSYCHOLOGY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH1
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784355,UG,1198.0,E,5.0,5.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,106B,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS106B
784356,UG,1198.0,E,3.0,3.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,193C,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS193C
784357,UG,1198.0,E,3.0,3.0,B,Y,zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3T...,MS&E,260,MGMTSCI,F,3.0,18.9,6.0,18.9,6.0,3.150000,NaN,MS&E260

In [9]:
# filter to keep only students with at least one course in strm >= 1162
keep_students = wcc_df[wcc_df["strm"] >= 1162]["emplid"].unique()
print(len(keep_students))
print(keep_students)

wcc_df.drop(wcc_df[(wcc_df["strm"] < 1162) & (~wcc_df["emplid"].isin(keep_students))].index, inplace=True)
wcc_df

16609
['$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUfOoKEtk2jT/bFoi'
 '$2a$15$1C4M.Pu4Ek9NC7lmmE77COpedsGSqsdDqUAWQTB6BfEbnX44S9Uz6'
 '$2a$15$1gWTGapWAd3dOZiS1KrHzuj5Go/IXpnXPxHP6ipcc4OLCaTcCpuw.' ...
 'ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9dVhuI9ZtJcrd0Q7l1NFSR2q/qADgS+Kg/HJHljXOg=='
 'zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6RnschrOOwvpQgLs4qx7GeYCRcca3lsVjs9gYE/lMrUg=='
 'zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3TznBQBPny8l45xGai6NpMv/vt4CGiDAGEbUVZvVbw==']

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
5,UG,1184.0,E,5.0,5.0,B+,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,33,CHEMISTRY,M,3.3,65.1,17.0,137.1,35.0,3.917143,4.0,CHEM33
7,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,PHIL,1,PHILOSOPHY,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,PHIL1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784352,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,PSYCH,1,PSYCHOLOGY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH1
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784355,UG,1198.0,E,5.0,5.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,106B,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS106B
784356,UG,1198.0,E,3.0,3.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,193C,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS193C
784357,UG,1198.0,E,3.0,3.0,B,Y,zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3T...,MS&E,260,MGMTSCI,F,3.0,18.9,6.0,18.9,6.0,3.150000,NaN,MS&E260

In [10]:
# drop summer courses
wcc_df.drop(wcc_df[wcc_df["strm"] % 10 == 8].index, inplace=True)
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
5,UG,1184.0,E,5.0,5.0,B+,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,33,CHEMISTRY,M,3.3,65.1,17.0,137.1,35.0,3.917143,4.0,CHEM33
7,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,PHIL,1,PHILOSOPHY,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,PHIL1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784348,UG,1204.0,D,3.0,3.0,None,Y,zz5j89pAbihrd+eaiLAddrxwyMh4sbs5K1W8uNxhwe5ome...,PSYCH,60,PSYCHOLOGY,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH60
784349,UG,1204.0,D,2.0,2.0,None,Y,zz5j89pAbihrd+eaiLAddrxwyMh4sbs5K1W8uNxhwe5ome...,PSYCH,60A,PSYCHOLOGY,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH60A
784350,UG,1202.0,E,5.0,5.0,B,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F,3.0,39.0,11.0,39.0,11.0,3.545455,NaN,CHEM31A
784352,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,PSYCH,1,PSYCHOLOGY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH1
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B

In [11]:
# don't include dropped courses
wcc_df.drop(wcc_df[wcc_df["stdnt_enrl_status"] == "D"].index, inplace=True)
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
5,UG,1184.0,E,5.0,5.0,B+,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,33,CHEMISTRY,M,3.3,65.1,17.0,137.1,35.0,3.917143,4.0,CHEM33
7,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,PHIL,1,PHILOSOPHY,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,PHIL1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784344,UG,1204.0,E,3.0,3.0,None,Y,zz5j89pAbihrd+eaiLAddrxwyMh4sbs5K1W8uNxhwe5ome...,ENGR,14,ENGINEER,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENGR14
784345,UG,1204.0,E,5.0,5.0,None,Y,zz5j89pAbihrd+eaiLAddrxwyMh4sbs5K1W8uNxhwe5ome...,CS,106A,COMPUTSCI,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS106A
784350,UG,1202.0,E,5.0,5.0,B,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F,3.0,39.0,11.0,39.0,11.0,3.545455,NaN,CHEM31A
784352,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,PSYCH,1,PSYCHOLOGY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH1
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B

In [12]:
# don't include courses not taken for a letter or the grade isn't recorded yet
LETTER_GRADES = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "NP", "W"]

wcc_df.drop(wcc_df[~wcc_df["crse_grade_input"].isin(LETTER_GRADES)].index, inplace=True)
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.000000,CS106X
5,UG,1184.0,E,5.0,5.0,B+,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,33,CHEMISTRY,M,3.3,65.1,17.0,137.1,35.0,3.917143,4.000000,CHEM33
7,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,PHIL,1,PHILOSOPHY,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.000000,PHIL1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784334,UG,1202.0,E,5.0,5.0,B+,Y,zYPvt/OnDJZcB1qpg0uKI7zFYa5srO2CCsIU8VsIDeWYy+...,PSYCH,1,PSYCHOLOGY,F,3.3,51.1,17.0,187.3,58.0,3.229310,3.321951,PSYCH1
784339,UG,1192.0,E,5.0,5.0,A,Y,zYZXgYeShvA/cD8TzNRRLxzbAblBrpRdc8KW5geNAtn0Px...,PSYCH,1,PSYCHOLOGY,F,4.0,60.0,15.0,60.0,15.0,4.000000,NaN,PSYCH1
784340,UG,1196.0,E,5.0,5.0,B+,Y,zYZXgYeShvA/cD8TzNRRLxzbAblBrpRdc8KW5geNAtn0Px...,STATS,60,STATISTICS,F,3.3,69.7,18.0,184.2,47.0,3.919149,3.948276,STATS60
784342,UG,1202.0,E,6.0,6.0,B-,Y,zz5j89pAbihrd+eaiLAddrxwyMh4sbs5K1W8uNxhwe5ome...,CME,100A,ICME,M,2.7,33.7,11.0,33.7,11.0,3.063636,NaN,CME100A
784350,UG,1202.0,E,5.0,5.0,B,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F,3.0,39.0,11.0,39.0,11.0,3.545455,NaN,CHEM31A

In [13]:
print(len(wcc_df), "unique course records")
print(len(wcc_df["emplid"].unique()), "unique students")
print(len(wcc_df["course_name"].unique()), "unique courses")

166194 unique course records
13218 unique students
878 unique courses

In [14]:
pd.set_option('display.max_rows', None)
wcc_df["strm"].value_counts(sort = False)

1024.0        7
1026.0        3
1032.0        5
1034.0        3
1036.0        2
1042.0        4
1044.0        6
1046.0        2
1052.0        5
1054.0        9
1056.0        3
1062.0        8
1064.0       12
1066.0       13
1072.0       18
1074.0       12
1076.0        4
1082.0       15
1084.0       11
1086.0       12
1092.0       40
1094.0       34
1096.0       28
1102.0       74
1104.0       67
1106.0       47
1112.0      166
1114.0      154
1116.0      140
1122.0      491
1124.0      512
1126.0      437
1132.0     2663
1134.0     3087
1136.0     2597
1142.0     5497
1144.0     6224
1146.0     4888
1152.0     7943
1154.0     8733
1156.0     7091
1162.0    10252
1164.0    10715
1166.0     7661
1172.0     9889
1174.0     9587
1176.0     7473
1182.0     9559
1184.0     9228
1186.0     6982
1192.0     9283
1194.0     8810
1196.0     7254
1202.0     8411
1002.0        2
1004.0        1
1012.0        7
1014.0        6
1016.0        2
1022.0        5
Name: strm, dtype: int64

In [15]:
wcc_df["crse_grade_input"].value_counts(sort = True)

A     48037
A-    29079
B     23849
B+    22849
B-    11323
A+    10668
C+     5354
C      5301
W      4477
C-     2332
NP     1396
D      1027
D+      343
D-      159
Name: crse_grade_input, dtype: int64

In [16]:
import pickle
WCC_PD_PATH = "../data/wcc_pd.pkl"

with open(WCC_PD_PATH, "wb") as file:
    pickle.dump(wcc_df, file)